$white: #ffffff
$primaryBlue: #3A86FF
$primaryBlueRgba: rgba(#3A86FF,.6)
$secondaryBlue: #007bff
$graySections: #3C3744
$linkedin: #0e76a8
$black: #000



@import general

@import header

section
    h3,h4,p
        color: $graySections
    @import section01Main
    
    @import section02-AboutMe-and-myskills

    @import section03Projects

    @import section04Contact
    
@import footer

@import keyframes

@import mediaquery






